[include]
    path = ~/.gitconfig.local

[init]
    defaultBranch = main

[push]
    default = matching

[core]
    editor = hx
    excludesfile = ~/.gitconfig.ignore

[alias]
    ss = status -s
    pp = push
    lo = log --oneline
    sw = switch -c
    co = commit
    wp = !git add --all && git commit -m "wip"

[commit]
    gpgsign = true
